{% extends 'base.html' %}
{% block title %}Crear Cliente{% endblock %}

{% block content %}
  <h1 class="text-2xl font-semibold mb-4">Crear Cliente</h1>

  {% if form.errors %}
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    <ul class="list-disc list-inside">
      {% for field, errs in form.errors.items %}
        {% for err in errs %}
          <li><strong>{{ field }}:</strong> {{ err }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <form method="post" class="bg-white p-6 rounded-lg shadow-lg space-y-6">
    {% csrf_token %}

    <div>
      <label for="{{ form.nombre.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
        Nombre:
      </label>
      {{ form.nombre }}
      {{ form.nombre.errors }}
    </div>

    <div>
      <label for="{{ form.direccion.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
        Dirección:
      </label>
      {{ form.direccion }}
      {{ form.direccion.errors }}
    </div>

    <div class="flex justify-end space-x-4">
      <a href="{% url 'clientes:list' %}" class="text-gray-600 hover:underline ">Cancelar</a>
      <button type="submit" class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700">
        Crear Cliente
      </button>
    </div>
  </form>
{% endblock %}
